@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --light-color: rgb(139, 119, 137, 0.1);
}

.dark,
[data-theme="dark"] {
  --main-color: hsla(0, 0%, 0%, 0.96);
  --foreground-color: hsl(300, 11%, 95%);
}

.light,
[data-theme="light"] {
  --main-color: hsl(300, 11%, 95%);
  --foreground-color: hsla(0, 0%, 0%, 0.96);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
